a
{
    text-decoration:none;
    color: black;
}

table
{
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    border: 2px solid black;
}

table th, td
{
    font-size: x-large;
}

#HeadDiv
{
    text-align: center;
}